<p id="notice"><%= notice %></p>

<p>
  <strong>Masp:</strong>
  <%= @product.MaSP %>
</p>

<p>
  <strong>Tensp:</strong>
  <%= @product.TenSP %>
</p>

<p>
  <strong>Giaban:</strong>
  <%= @product.GiaBan %>
</p>

<p>
  <strong>Ngaysanxuat:</strong>
  <%= @product.NgaySanXuat %>
</p>

<p>
  <strong>Soluongban:</strong>
  <%= @product.SoLuongBan %>
</p>

<p>
  <strong>Doanhthu:</strong>
  <%= @product.DoanhThu %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
